.about
	width 944px
	padding 42px 40px 34px 40px
	margin 0 0 40px 0

	h1
		width 944px
		margin 0 0 18px 0
		font-size 21px
		line-height 36px

	span
		width 844px
		margin 6px 100px 28px 0
		font-size 19px
		line-height 36px

	p
		width 934px
		margin 0 0 20px 0
		font-size 16px
		line-height 31px

	&__media
		width 942px
		height 530px
		margin 0 0 38px 0
		border $white-border

	.profile
		width 140px
		margin 0 38px 8px 0
