nav
	margin 14px 40px 0 0

.header
	width 1024px

	&__container
		height 63px
		padding 16px 0 0 0
		margin 0 0 32px 0

	&__holder
		width 194px
		margin 0 0 0 30px

	&__content
		width 244px

	&__navigation
		width 800px

	&__heart
		width 36px

		.fa-heart
			font-size 19px
			line-height 19px

	&__brand
		width 150px

	&__name
		width 150px

		h1
			margin 0 0 9px 0
			font-size 17px
			line-height 22px

	&__tagline
		width 280px

		h2
			font-size 14px
			line-height 14px

	&__button
		height 48px
		padding 0 32px

		h2
			font-size 14px
			line-height 50px

	&__button.first
		border-radius 10px 0 0 0
		border-left $white-border

	&__button.last
		border-radius 0 10px 0 0

	&__button.active
		height 49px
