.modal
	width 640px
	margin 0 0 0 -320px
	top 28px

	&__container
		width 638px
		padding 32px 0 0 0

	&__reference
		width 536px
		padding 22px 0 22px 20px
		margin 0 0 0 40px

	&__option
		width 120px

		h2
			width 108px
			padding 8px 5px 8px 5px
			font-size 15px
			line-height 25px

	&__option.product
		width 260px
		margin 0 10px 0 0

		h2
			width 218px

	&__option--gap
		width 10px
		height 10px

	&__spacer
		height 28px

	&__tabs
		width 498px
		height 60px
		padding 0 0 0 140px
		margin 42px 0 0 0

	&__tab
		width 178px
		height 60px

		h4
			font-size 17px
			line-height 61px

	&__tab.active
		height 61px

	&__form
		width 598px
		padding 48px 0 32px 40px
		margin 0

	&__close
		width 130px
		height 48px
		margin 0 0 20px 420px

		h6
			font-size 16px
			line-height 46px

		.fa-times
			margin 4px 0 0 12px
			font-size 18px

	&__headline
		width 558px
		margin 0 0 24px 40px

	&__paragraph
		width 518px
		margin 14px 0 10px 20px

		p
			font-size 16px
			line-height 32px

	&__header
		margin 0 0 12px 0

	&__center
		position relative

		h1
			padding 15px 40px 15px 40px
			font-size 19px
			line-height 29px

		h5
			font-size 15px
			line-height 15px

	//&__row
	//	margin 0 0 32px 0
	//
	//	input
	//		width 256px

	// &__half
	// 	width 132px
	// 	// height 54px
	// 	// margin 0
	// 	//background green
	// 	//margin 0 10px 0 0
	//
	// 	input
	// 		width 131px
	//
	//&__thirds
	//	width 278px
	//
	//&__third
	//	width 80px
	//	margin 0 9px 0 0

	// &__field
	// 	float left
	// 	width 278px
	// 	padding 0
	// 	margin 0

	&__input
		width 269px
		margin 0 20px 30px 0

		input
			width 247px
			height 60px
			padding 0 10px
			font-size 17px

	&__input.email
		width 558px
		margin 0 0 30px 0

		input
			width 516px
			padding 0 20px

	&__card
		width 264px
		height: 54px
		margin 0

	.InputElement
		width 278px
		padding: 0 10px;
		font-size 27px !important
		flex: 1;
		height: 48px;
		line-height: 48px;

	&__expiry
		width 127px

	// &__gap
	// 	width 20px
	// 	height 20px

	//&__mask
	//	width 132px
	//	height 42px
	//
	//	h4
	//		font-size 19px
	//		line-height 42px
	//
	//&__mask.third
	//	width: 78px

	//&__button
	//	width 260px
	//	padding 8px 10px
	//	margin 14px 0 0 0
	//
	//	h2
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	h3
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	textarea
	//		width 240px
	//		height 26px
	//		padding 0 10px
	//		font-size 23px
	//		line-height 27px
	//
	//&__button.black
	//	margin 0 0 10px 0

	button
		width 558px
		height 62px
		font-size 21px
