.search
	width 1004px
	margin 10px 0 32px 20px

	&__container
		width 952px
		padding 16px 0 16px 30px

	&__square
		width 238px
		margin 0 10px 0 0

	&__select
		width 100%

		input
		select
			height 52px
			font-size 18px
			line-height 56px

		select
			height 56px

	&__mask
		width 196px
		height 54px
		padding 0 20px

		h4
			font-size 16px
			line-height 55px

			.fa-caret-down
				right 20px
				font-size 19px
				line-height 55px

	&__filter
		width 362px
		margin 0 10px 0 0

		input
			width: 320px
			height 54px
			padding 0 20px
			font-size 16px

	&__reset
		width 54px
		height 54px

		.fa-times
			font-size 14px
			line-height 57px
