.squares
	width 942px
	padding 0
	margin 0 0 0 40px

.square
	width 742px
	padding 38px 140px 58px 60px

	h3
		padding 0 0 10px 0
		margin 0 0 16px 0
		font-size 17px
		line-height 17px

	p
		width 742px
		font-size 15px
		line-height 29px
