.testimonials
	width 942px
	margin 0 0 50px 40px

.testimonial
	width 842px
	padding 38px 50px 42px 50px

	&__image
		width 90px
		height 90px
		margin 0 32px 20px 0

	p
		width 802px
		margin 0 0 22px 0
		font-size 15px
		line-height 30px

	h6
		margin 0 140px 0 0
		font-size 16px
		line-height 16px
