.view
	width 922px
	padding 22px 50px 28px 50px
	margin 0 0 70px 0

	&__top
		width 712px
		margin 0 70px 0 0

	&__aside
		width 110px
		padding 15px 14px 0 14px
		margin 0 0 38px 0

	&__title
		margin 0 0 20px 0

		h1
			max-width 650px
			padding 13px 30px 13px 30px
			font-size 16px
			line-height 27px

	&__purchase
		height 44px
		margin 0 0 28px 0

		h3
			padding 0 28px 0 28px
			font-size 15px
			line-height 46px

	&__arrow
		width 44px
		height 44px
		margin 0 0 28px 0

		.fa-long-arrow-left
			font-size 20px
			line-height 46px

	&__square
		margin 0 0 24px 0

		h2
			width 90px
			padding 7px 10px 7px 10px
			font-size 14px
			line-height 22px

	&__center
		margin 0 0 8px 0

		h5
			font-size 13px
			line-height 13px

	&__description
		margin 0 0 42px 0

		p
			font-size 16px
			line-height 31px

	&__headshot
		width 80px
		height 80px
		margin 0 0 20px 15px

	&__button
		width 710px
		height 58px
		margin 0 0 30px 0

		h4
			font-size 17px
			line-height 58px

	&__testimonial
		width 922px
		margin 0 0 10px 0

		h3
			margin 0 30px 0 24px
			font-size 17px
			line-height 54px

	&__bubble
		width 480px
		padding 15px 40px 19px 40px
		margin 0 0 0 362px

		p
			font-size 16px
			line-height 29px

	&__caret
		margin 0 0 6px 830px
		border-left 15px solid transparent
		border-right 15px solid transparent
		border-top: 15px solid #f4f4f4

	&__picture
		width 54px
		height 54px
