.listings
	width 647px
	margin 0 0 32px 20px

.listing
	width 306px
	padding 10px 0 0 0
	margin 0 11px 24px 0

	&__image
		width 284px
		margin 0 0 10px 10px

	&__content
		width 266px
		padding 16px 20px 18px 20px

	&__title
		margin 0 0 20px 0

		h1
			max-width 224px
			padding 10px 20px 10px 20px
			font-size 16px
			line-height 27px

	&__center
		margin 0 0 7px 0

		h5
			font-size 14px
			line-height 14px

	&__square
		margin 0 0 26px 0

		h2
			padding 8px 18px 8px 18px
			font-size 15px
			line-height 25px

		p
			font-size 15px
			line-height 27px

	&__square.price
		margin 0 20px 22px 0

	&__square.author
		margin 0 0 22px 0

	&__square.category
		margin 0 20px 22px 0

	&__square.sku
		margin 0 0 22px 0

	&__buttons
		width 276px

	&__button
		width 143px
		height 46px

		h4
			font-size 16px
			line-height 47px

	&__button.red
		width 123px
		margin 0 10px 0 0

.empty
	width 407px
	margin 0 0 70px 130px

	h1
		width 347px
		padding 10px 30px 11px 30px
		font-size 18px
		line-height 31px

	p
		width 407px
		margin 0
		font-size 16px
		line-height 30px

	&__title
		margin 0 0 16px 0
