.modal
	width 420px
	margin 0 0 0 -210px
	top 15px

	&__container
		width 418px
		padding 22px 0 0 0

	&__reference
		width 296px
		padding 18px 20px 18px 20px
		margin 0 0 0 40px

	&__option
		width 138px

		h2
			width 126px
			padding 5px 5px 6px 5px
			font-size 16px
			line-height 24px

	&__option.product
		width 100%
		margin 0 0 22px 0

		h2
			width 254px
			padding 5px 20px 6px 20px

	&__option--gap
		width 10px
		height 10px

	&__spacer
		height 20px

	&__tabs
		width 378px
		height 50px
		padding 0 0 0 40px
		margin 32px 0 0 0

	&__tab
		width 168px
		height 50px

		h4
			font-size 17px
			line-height 52px

	&__tab.active
		height 51px

	&__form
		width 338px
		padding 38px 40px 20px 40px

	&__close
		width 120px
		height 40px
		margin 0 0 20px 220px

		h6
			font-size 16px
			line-height 38px

		.fa-times
			margin 0 0 0 8px
			font-size 16px

	&__headline
		width 338px
		padding 0
		margin 0 0 18px 40px

	&__paragraph
		margin 12px 0 10px 0

		p
			font-size 16px
			line-height 29px

	&__header
		margin 0 0 9px 0

	&__center
		position relative

		h1
			padding 11px 24px 11px 24px
			font-size 18px
			line-height 26px

		h5
			font-size 15px
			line-height 15px

	// &__row
	// 	margin 0 0 32px 0
	//
	// 	input
	// 		width 336px
	//
	// &__half
	// 	width 159px
	// 	//margin 0 10px 0 0
	//
	// 	input
	// 		width 139px

	//&__thirds
	//	width 278px
	//
	//&__third
	//	width 80px
	//	margin 0 9px 0 0

	//&__field
	//	float left
	//	width 278px
	//	padding 0
	//	margin 0

	&__input
		margin 0 0 22px 0

		input
			width 316px
			height 52px
			padding 0 10px
			font-size 17px

	&__card
		width 338px
		height: 54px

	.InputElement
		width 278px
		padding: 0 10px
		font-size 27px !important
		flex: 1;
		height: 48px;
		line-height: 48px;

	&__expiry
		width 159px

	&__gap
		width 20px
		height 20px

	// &__mask
	// 	width 132px
	// 	height 42px
	//
	// 	h4
	// 		font-size 19px
	// 		line-height 42px
	//
	// &__mask.third
	// 	width: 78px

	//&__button
	//	width 260px
	//	padding 8px 10px
	//	margin 14px 0 0 0
	//
	//	h2
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	h3
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	textarea
	//		width 240px
	//		height 26px
	//		padding 0 10px
	//		font-size 23px
	//		line-height 27px
	//
	//&__button.black
	//	margin 0 0 10px 0

	button
		width 338px
		height 54px
		font-size 21px
