.search
	width 627px
	margin 0 0 28px 20px

	&__container
		width 595px
		padding 20px 0 20px 30px

	&__square
		width 273px
		margin 0 19px 18px 0

	&__select
		width 100%

		select
			height 54px
			font-size 19px
			line-height 56px

	&__mask
		width 233px
		height 52px
		padding 0 20px

		h4
			font-size 17px
			line-height 58px

			.fa-caret-down
				right 22px
				font-size 19px
				line-height 54px

	&__filter
		width 492px
		margin 0 19px 0 0

		input
			width: 450px
			height 52px
			padding 0 20px
			font-size 18px

	&__reset
		display block
		float left
		width 52px
		height 52px
		padding 0
		margin 0
		background $black
		border $black-border
		border-radius 8px

		.fa-times
			float left
			width 100%
			padding 0
			margin 0
			font-size 16px
			line-height 56px
			color $white
			text-align center

	&__tag
		display: none
