.testimonials
	margin 0 0 40px 0

.testimonial
	padding 24px 0 38px 0

	&__image
		width 86px
		height 86px
		margin 0 20px 0 50px

	p
		width 547px
		margin 0 0 20px 50px
		font-size 16px
		line-height 29px

	h6
		margin 0 160px 0 0
		font-size 17px
		line-height 17px
