.view
	width 617px
	padding 22px 30px 28px 30px
	margin 0 0 50px 0

	&__top
		width 427px
		margin 0 40px 0 0

	&__aside
		display block
		float left
		width 110px
		padding 15px 14px 0 14px
		margin 0 0 38px 0
		background $brown
		border $white-border
		border-radius: $border-radius

	&__title
		margin 0 0 20px 0

		h1
			max-width 377px
			padding 10px 25px 10px 25px
			font-size 17px
			line-height 28px

	&__purchase
		height 45px
		margin 0 10px 34px 0

		h3
			padding 0 26px 0 26px
			font-size 16px
			line-height 47px

	&__arrow
		width 45px
		height 45px
		margin 0 0 34px 0

		.fa-long-arrow-left
			font-size 19px
			line-height 47px

	&__square.author
	&__square.category
		display none

	&__square
		width 100%
		margin 0 0 24px 0

		h2
			width 90px
			padding 6px 10px 6px 10px
			font-size 15px
			line-height 23px
			background: $white
			text-align center

	&__center
		margin 0 0 9px 0

		h5
			font-size 14px
			line-height 14px

	&__description
		margin 0 0 42px 0

		p
			font-size 16px
			line-height 29px

		p.small
			display none

		p.large
			display block

	&__headshot
		float left
		width 80px
		height 80px
		padding 0
		margin 0 0 24px 15px
		border-radius 1000px

		img
			float left
			width 100%
			height 100%
			border-radius 1000px

	&__button
		width 615px
		height 58px
		margin 0 0 30px 0

		h4
			font-size 18px
			line-height 58px

	&__testimonial
		margin 0 0 10px 0

		h3
			margin 0 60px 0 24px
			font-size 17px
			line-height 50px

	&__bubble
		width 447px
		padding 16px 30px 18px 30px
		margin 0 0 0 110px

		p
			font-size 16px
			line-height 29px

	&__caret
		margin 0 0 8px 500px

	&__picture
		width 50px
		height 50px
