footer
	.footer
		.footer__holder
			.footer__company
				.footer__brand
					.footer__heart(ui-sref='app.index')
						.fas.fa-heart
					h1 Zissis Liolios
				h2 Empower Heart Wisdom &trade;
				a(href="https://www.google.com/maps/place/One+King+Street+West,+1+King+St+W,+Toronto,+ON+M5H+1A1/@43.6488576,-79.380334,17z/data=!4m13!1m7!3m6!1s0x89d4cb2d7d8255cf:0xd56ea11ca4f45721!2sOne+King+Street+West,+1+King+St+W,+Toronto,+ON+M5H+1A1!3b1!8m2!3d43.6488576!4d-79.3781453!3m4!1s0x89d4cb2d7d8255cf:0xd56ea11ca4f45721!8m2!3d43.6488576!4d-79.3781453") 1 King Street West, Toronto, Ontario, Canada M5H 1A1
				.footer__contact
					a.phone(href="tel:+1-647-402-9067") +1 (647) 402-9067
					a(href="mailto:hello@zissisliolios.com?subject=Online%20Contact%20Card") hello@zissisliolios.com

			.footer__about
				//- .footer__picture
					img(ng-src='assets/images/footer/headshot.png')
				.footer__cv
					.footer__row
						h1 About
					.footer__row
						p I work from my heart. Some describe it as love, freedom, democracy, happiness of the heart. It’s only when you are truly in your sacred heart space every moment you begin to tap into your true essence and begin to remember who you are.

			.footer__social
				a(href="https://www.facebook.com/liozii" target="_blank")
					.fab.fa-facebook-f

				a(href="https://twitter.com/CallTheWiseOne" target="_blank")
					.fab.fa-twitter

				a(href="https://www.instagram.com/the.wize1" target="_blank")
					.fab.fa-instagram
