$white = #fff
$white-border = 1px solid #c8c8c8

$black = #000
$black-border = 1px solid $black

$off-black = #585858

$tile = #f4f4f4
$tile-border = 1px solid #d9d9d9

$paragraph = #787878

$green = #c3d021
$brown = #FBFCED
$brown = #f1ece4

$button = #484848

$input = #fff
$input-border = 1px solid #ddd

$red = #b20628
$red-border = 1px solid #4f0212

$primary-font = 'usual', sans-serif
$primary-font-weight = 400
$primary-border = 1px solid #d4d4d4

$border = 1px solid #aaa
$border-light = 1px solid #ccc
$border-radius = 10px
$border-radius-bottom = 0 0 10px 10px
$shadow = 1px -1px 2px #fff
$dark-shadow = 1px 1px 0 #333

$grey-gradient = linear-gradient(to bottom, #565858, #464848)
$grey-gradient-border = 1px solid #333

$background = #f8f8f8
$background = #f8f6f2
$background-border = 1px solid #c8c8c8
