.about
	.profile
		img(ng-src='assets/images/about/headshot.png')
	h1 Over 10 Years Experience In Heart Focused Development
	p Life is meant to be lived and enjoyed fully, yet most of us walk around numb and unaware of life’s everyday riches. It is only when you begin to understand that there is no limit to the potential of what life can be when you connect to your heart; a life that extends beyond the limits of our belief patterns and reunites us with our most natural way of being.
	span "Inspirational emotion means everything, I love my work and translate that energy."
	p This is why I work from my heart. Some describe it as love, freedom, democracy, the happiness of the heart. It’s only when you are truly in your sacred heart space every moment you begin to tap into your true essence and begin to remember who you are.
	p So I ask, what are you waiting for? Empower the wisdom of your heart.
	p .....With Love and Peace.—
