.about
	width 768px
	padding 34px 0 34px 0
	margin 0 0 70px 0

	h1
		width 608px
		margin 0 0 18px 40px
		font-size 23px
		line-height 39px

	span
		width 488px
		margin 6px 80px 28px 200px
		font-size 21px
		line-height 38px

	p
		width 688px
		margin 0 0 20px 40px
		font-size 18px
		line-height 34px

	p.desktop
		display: block

	&__media
		width 768px
		height 432px
		margin 0 0 28px 0

	.profile
		width 170px
		margin 0 38px 0 40px
