.listings
	width 748px
	margin 0 0 32px 20px

.listing
	width 357px
	padding 10px 0 0 0
	margin 0 10px 22px 0

	&__image
		width 335px
		margin 0 0 10px 10px

	&__content
		width 297px
		padding 16px 30px 18px 30px

	&__title
		margin 0 0 20px 0

		h1
			max-width 255px
			padding 9px 20px 9px 20px
			font-size 17px
			line-height 28px

	&__center
		margin 0 0 7px 0

		h5
			font-size 14px
			line-height 14px

	&__square
		margin 0 0 26px 0

		h2
			padding 6px 22px 6px 22px
			font-size 16px
			line-height 26px

		p
			font-size 15px
			line-height 25px

	&__square.price
		margin 0 24px 22px 0

	&__square.author
		margin 0 0 22px 0

	&__square.category
		margin 0 24px 22px 0

	&__square.sku
		margin 0 0 22px 0

	&__buttons
		width 337px

	&__button
		width 158px
		height 49px

		h4
			font-size 17px
			line-height 49px

	&__button.red
		width 139px
		margin 0 10px 0 0

.empty
	width 448px
	margin 0 0 70px 140px

	h1
		width 448px
		padding 13px 0 13px 0
		font-size 20px
		line-height 31px

	p
		width 448px
		margin 0
		font-size 18px
		line-height 34px

	&__title
		margin 0 0 28px 0
