.search
	width 748px
	margin 0 0 28px 20px

	&__container
		width 696px
		padding 20px 0 20px 30px

	&__square
		width 323px
		margin 0 20px 18px 0

	&__select
		width 100%

		select
			height 58px
			font-size 18px
			line-height 56px

	&__mask
		width 281px
		height 56px
		padding 0 20px

		h4
			font-size 18px
			line-height 58px

			.fa-caret-down
				right 25px
				font-size 20px
				line-height 56px

	&__filter
		width 586px
		margin 0 20px 0 0

		input
			width: 544px
			height 56px
			padding 0 20px
			font-size 19px

	&__reset
		width 56px
		height 56px

		.fa-times
			font-size 15px
			line-height 58px
