.squares
	margin 0 0 20px 0
	border none
	border-top $white-border

.square
	width 648px
	padding 38px 60px 58px 60px
	border none
	border-bottom $white-border

	h3
		padding 0 0 11px 0
		margin 0 0 16px 0
		font-size 19px
		line-height 19px

	p
		width 588px
		margin 0
		font-size 16px
		line-height 30px
