.testimonials
	width 768px
	margin 0 0 50px 0

.testimonial
	width 668px
	padding 28px 50px 42px 50px

	&__image
		width 90px
		height 90px
		margin 0 32px 0 0

	p
		width 628px
		margin 0 0 22px 0
		font-size 17px
		line-height 32px

	h6
		margin 0 140px 0 0
		font-size 18px
		line-height 18px
