.view
	width 688px
	padding 22px 40px 28px 40px
	margin 0 0 70px 0

	&__top
		width 508px
		margin 0 40px 0 0

	&__aside
		width 110px
		padding 15px 14px 0 14px
		margin 0 0 38px 0

	&__title
		margin 0 0 24px 0

		h1
			max-width 446px
			padding 13px 30px 13px 30px
			font-size 18px
			line-height 29px

	&__purchase
		height 48px
		margin 0 0 32px 0

		h3
			padding 0 28px 0 28px
			font-size 17px
			line-height 50px

	&__arrow
		width 48px
		height 48px
		padding 0
		margin 0 0 32px 0

		.fa-long-arrow-left
			font-size 21px
			line-height 50px

	&__square
		margin 0 0 24px 0

		h2
			width 90px
			padding 7px 10px 7px 10px
			font-size 16px
			line-height 23px

	&__center
		margin 0 0 8px 0

		h5
			font-size 15px
			line-height 15px

	&__description
		margin 0 0 52px 0

		p
			font-size 17px
			line-height 31px

	&__headshot
		width 80px
		height 80px
		margin 0 0 20px 15px

	&__button
		width 688px
		height 58px
		margin 0 0 40px 0

		h4
			font-size 19px
			line-height 59px

	&__testimonial
		margin 0 0 10px 0

		h3
			margin 0 70px 0 24px
			font-size 18px
			line-height 58px

	&__bubble
		width 460px
		padding 16px 40px 19px 40px
		margin 0 0 0 148px

		p
			font-size 17px
			line-height 30px

	&__caret
		margin 0 0 4px 550px
		border-left 16px solid transparent
		border-right 16px solid transparent
		border-top: 16px solid #f4f4f4

	&__picture
		width 58px
		height 58px
