.media
	.media__square
		.media__content
			h3 See Gardens
			h4 May 2014
			p This elegant rooftop in Midtown, Toronto, is modern part of our portfolio.
		.media__image
			//img
			//img(src="/public/images/media/see.jpg", alt="")
	.media__square
		.media__content
			h3 Landscape ME
			h4 May 2014
			p Sander Design brings life back to the rooftop of Queens Quay in Toronto, Ontario.
		.media__image
			//img
			//img(href="http://issuu.com/allanronald45/docs/landscape_magazine_april_2014_597632889f2631/21?e=7613768%2F7726436", target="_blank")
			//img(src="/public/images/media/me.jpg", alt="")
	.media__square
		.media__content
			h3 See Gardens
			h4 May 2014
			p Using modern trends and appliances, this space brings a truly unique design to reality.
		.media__image
			//img
			//img(src="/public/images/media/see2.jpg", alt="")
	.media__square
		.media__content
			h3 Canadian Builder
			h4 April 2012
			p A project designed to appeal to a variety of residents, while keeping with the building.
		.media__image
			//img
			//img(src="/public/images/media/cbq.jpg", alt="")

	.media__square
		.media__content
			h3 Design Talks
			h4 March 2011
			p Sander Freedman led our very first Design Talk geared to beautifying outdoor spaces
		.media__image
			//img
			//img(src="/public/images/media/design_talks.jpg", alt="")

	.media__square
		.media__content
			h3 Scotiabank EcoLiving
			h4 January 2011
			p Using modern trends and appliances, this space brings a truly unique design to reality.
		.media__image
			//img
			//img(src="/public/images/media/eco_living.jpg", alt="")

	.media__square
		.media__content
			h3 Ben Nobleman Park
			h4 April 2010
			p Sander integrated our table into the beautiful urban forest booth of the Green Living Show.
		.media__image
			//img
			//img(href="http://communityorchard.ca/2010/05/19/from-wharf-to-table/")
			//img(src="/public/images/media/ben_nobleman.jpg", alt="")

	.media__square
		.media__content
			h3 HGTV Blog
			h4 August 2009
			p A lot can be achieved with a little amount of planning and getting some professional help.
		.media__image
			//img
			//img(href="http://www.hgtv.ca/blog/backyard-makeover-tranquil-zen-garden/")
			//img(src="/public/images/media/hgtv.jpg", alt="")
	.media__square
		.media__content
			h3 Green Living Show
			h4 2009
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
		.media__image
			//img
			//img(src="/public/images/projects/show/green-living-show-2009/listing.jpg", alt="")

	.media__square
		.media__content
			h3 Ideas and Concepts
			h4 2009
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
		.media__image
			//img
			//img(src="/public/images/media/ideas.jpg", alt="")

	.media__square
		.media__content
			h3 Home &amp; Decor
			h4 April 2008
			p Inspired by Zen and customized for an urban application, a backyard became a getaway.
		.media__image
			//img
			//img(src="/public/images/media/home_and_decor.jpg", alt="")

	.media__square(href="interior-design-show-2008/")
		.media__content
			h3 Interior Design Show
			h4 2008
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
		.media__image
			//img
			//img(src="/public/images/projects/show/interior-design-show-2008/listing.jpg", alt="")

	.media__square(href="canada-blooms-2008/")
		.media__content
			h3 Canada Blooms
			h4 2008
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
		.media__image
			//img
			//img(src="/public/images/projects/show/canada-blooms-2008/listing.jpg", alt="")

	.media__square(href="canada-blooms-2007/")
		.media__content
			h3 Canada Blooms
			h4 2007
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
		.media__image
			//img
			//img(src="/public/images/projects/show/canada-blooms-2007/listing.jpg", alt="")