.footer
	height 440px
	padding 28px 0 0 0

	&__holder
		width 440px

		h1
			margin 0 0 11px 0
			font-size 18px
			line-height 21px

		h2
			margin 5px 0 28px 0
			font-size 15px
			line-height 15px

		a
			margin 0 0 20px 0
			font-size 15px
			line-height 15px

		a.phone
			margin 0 18px 0 0

	&__company
		width 440px
		padding 0
		margin 0 0 22px 0

	&__brand
		width 170px

	&__heart
		width 42px

		.fa-heart
			font-size 20px
			line-height 20px

	&__about
		width 220px
		margin 0

	&__cv
		margin 0 0 42px 0

		p
			width 420px
			font-size 15px
			line-height 29px

	&__social
		width 240px
		margin 0

		.fa-facebook-f
		.fa-twitter
		.fa-instagram
			width 50px
			height 50px
			margin 0 18px 0 0
			font-size 23px
			line-height 52px

		.fa-facebook-f
			font-size 23px
			line-height 51px

		.fa-instagram
			font-size 27px
			line-height 52px
