.header
	width 100%

	&__holder
		padding 17px 0 15px 0
		margin 0 0 38px 0

	&__content
		width 460px

	&__heart
		width 40px

		.fa-heart
			font-size 21px
			line-height 21px

	&__name
		width 113px

		h1
			margin 0
			font-size 18px
			line-height 21px

	&__mobile
		margin 0 10px 0 0

		.fa-bars
			font-size 25px
			line-height 19px

	&__tagline
		width 220px

		h2
			margin 5px 0 0 0
			font-size 15px
			line-height 15px
