.panel
	height 100%

	&__buttons
		width 164px
		padding 22px 18px 0 18px

	&__button
		width 162px
		margin 0 0 12px 0

		h1
			padding 18px 0 18px 0
			font-size 16px
			line-height 16px

	&__close
		width 34px
		height 52px
		padding 0 4px 0 0
		margin 21px 0 0 -1px

		.fa-angle-left
			font-size 24px
			line-height 54px
