.search
	width 460px
	margin 0 0 28px 10px

	&__container
		width 398px
		padding 20px 30px 20px 30px

	&__square
		margin 0 0 16px 0

	&__select
		width 100%

		select
			height 54px
			font-size 18px
			line-height 52px

	&__mask
		width 376px
		height 52px
		padding 0 10px

		h4
			font-size 17px
			line-height 58px

			.fa-caret-down
				right 22px
				font-size 19px
				line-height 54px

	&__filter
		width 398px

		input
			width 356px
			height 52px
			padding 0 20px
			font-size 18px

	&__tag
		width 40px
		height 32px
		margin -1px 0 0 378px

		.fa-times
			font-size 15px
			line-height 33px
