.testimonials
    margin 0 0 50px 0

.testimonial
    padding 24px 0 38px 0

    &__image
        width 86px
        height 86px
        margin 0 20px 0 40px

    p
        width 400px
        margin 0 0 20px 40px
        font-size 17px
        line-height 31px

	h6
		margin 0 80px 0 0
		font-size 18px
		line-height 18px
