.about
	.about__media
		video(id="the_hearts_intuitive_intelligence" preload controls)
			//source(src="assets/video/heartmath/the_hearts_intuitive_intelligence.mov")
			//source(src="assets/video/heartmath/the_hearts_intuitive_intelligence.ogv")
			//source(src="assets/video/heartmath/the_hearts_intuitive_intelligence.webm")
			source(src="assets/video/heartmath/the_hearts_intuitive_intelligence.mp4")

	h1 HeartMath&trade; Vision
	p A global shift is under way and people are sensing it involves a deeper connection with their heart. This desire for more heart connection is a growing movement, one that people are drawn to by a nudge from their own intuition or conscience to listen to their hearts more and to connect with their inner guidance. The voice or feelings of the heart have been referred to in writings and teachings throughout the millennia. HeartMath exists to help individuals, organizations, and the global community incorporate the heart’s intelligence into their day-to-day experience of life.
	p Whether people mention speaking from the heart, connecting with the heart, or following the heart, there is an increased energetic awareness of the importance of the heart’s intelligent input in life’s discernments and choices. It’s being experienced by millions who are coming into expanded global awareness and feel an inner need for the deeper resonance and nurturing of spirit that comes from heart-based connections. These connections can be between a person’s own heart and mind, or between people trying to build community through cooperative interaction.
	span "The HeartMath system empowers people to self-regulate their emotions and behaviors to reduce stress, increase resilience, and unlock their natural intuitive guidance for making more effective choices."
	p HeartMath was born out of a deep sense of caring for people and our planet. Founded in 1991 by Doc Childre, HeartMath has developed a system of effective, scientifically based tools and technologies to bridge the intuitive connection between heart and mind and deepen our connection with the hearts of others.
	.about__media
		video(id="the_science_of_heartmath" preload controls)
			//source(src="assets/video/heartmath/the_science_of_heartmath.mov")
			//source(src="assets/video/heartmath/the_science_of_heartmath.ogv")
			//source(src="assets/video/heartmath/the_science_of_heartmath.webm")
			source(src="assets/video/heartmath/the_science_of_heartmath.mp4")

	p The HeartMath system empowers people to self-regulate their emotions and behaviors to reduce stress, increase resilience, and unlock their natural intuitive guidance for making more effective choices. This enables people to break through to greater levels of personal balance, creativity, insight and health. Over 300 peer-reviewed or independent studies utilizing HeartMath techniques or technologies to achieve beneficial outcomes have been published.
	p HeartMath’s commitment is to help make these critical couplings possible. As these connections are established, the world we live in will be transformed. Coherent, heart-centered interactions will generate a higher vibrational consciousness field globally, increasing individual, social and global coherence and resonance. This will support co-creative alliances and draw in new intuitive solutions to our personal and global challenges.
	p HeartMath shows us a way to remake our world. It provides tools to connect with our inner guidance and technologies to help us be still enough to listen. Its research shows us how we can be empowered to become masters of ourselves and the quality of our future. Together, the tools, technologies and research enable us to realize our full potential as individuals and as a species to serve as caretakers for our planet and generations to come.
	p Contact me, to discuss a tailored made program for your organization.
	p #[a(ng-href='https://www.zissisliolios.com/assets/pdf/heartmath/resilience_advantage.pdf' target='_blank') Resilience Advantage&trade;]#[br]#[a(ng-href='https://www.zissisliolios.com/assets/pdf/heartmath/activating_the_heart_in_groups.pdf' target='_blank') Activating the Heart in Groups&trade;]
	.about__media
		video(id='earths_resonant_frequency' preload controls)
			//source(src='assets/video/heartmath/earths_resonant_frequency.mov')
			//source(src='assets/video/heartmath/earths_resonant_frequency.ogv')
			//source(src='assets/video/heartmath/earths_resonant_frequency.webm')
			source(src='assets/video/heartmath/earths_resonant_frequency.mp4')