.about
	.about__media
		video(id="collective_evolution_living_from_the_heart" preload controls)
			//source(src="assets/video/imagery/collective_evolution_living_from_the_heart.mov")
			//source(src="assets/video/imagery/collective_evolution_living_from_the_heart.ogv")
			//source(src="assets/video/imagery/collective_evolution_living_from_the_heart.webm")
			source(src="assets/video/imagery/collective_evolution_living_from_the_heart.mp4")

	h1 Heart Imagery
	p Do you realize that everything you see is an image, that all around you is just an image? Have you ever realized that the world you live in and the world you dream at night is the same?
	p.desktop Heart Imagery workshops teach you powerful techniques in order to balance your emotional, mental and physical bodies and harmonize your energy. Learn how your energy moves and how you can heal and overcome difficulties that you might encounter.
	span "Heart Imagery does not ask you to worship Masters but to become a Master; not to follow others but to develop your own inner awareness within to bring a quality of light and love to all that you do."
	p Prior to any religious system was being formed, almost 40,000 years prior to Buddha and Jesus, prior to Mohamed and Rumi, there was just one technique that the Adamic Race used in their headquarter, in Kopet Dagh (the Turkmen-Khorasan Mountain Range near the Caspian Sea),  which was Heart Imagery.
	p Heart Imagery helps and teaches you how to balance your mental, emotional and physical bodies and it harmonizes your energy. These techniques are essential in order to better understand and cope with Mother Earth’s powerful feminine energy that is ever-permeating us since December 21, 2012. It Heart Imagery is the most important workshop that you can do now. At this auspicious time in Earth’s history!
	p Heart Imagery exercises are not a series of answers, they are a set of keys. The Keys to your own doors, to open the doors and see for yourself what wonders lie within.
	p Unlike other spiritual systems, Heart Imagery utilizes the unique capacity of every human being to reach enlightenment – or freedom from the illusions of ego created by the mind.
	p Heart Imagery does not ask you to worship Masters but to become a Master; not to follow others but to develop your own inner awareness within to bring a quality of light and love to all that you do.
	p Right now the master in you is asleep. And the mind, the servant, is playing the role of master. And the servant is not even your servant; the servant is created by the outside world, it is a slave to follow the outside world and its laws. Once you are lightening your awareness through our specialized but easy to implement Heart Imagery exercises, it burns up away the illusion of the whole slavery that your mind has created. You will become a Master of your own destiny.

	.about__media
		video(id="awakening_from_the_illusion_with_heart_imagery" preload controls)
			//source(src="assets/video/imagery/awakening_from_the_illusion_with_heart_imagery.mov")
			//source(src="assets/video/imagery/awakening_from_the_illusion_with_heart_imagery.ogv")
			//source(src="assets/video/imagery/awakening_from_the_illusion_with_heart_imagery.webm")
			source(src="assets/video/imagery/awakening_from_the_illusion_with_heart_imagery.mp4")