.footer
	height 590px
	padding 28px 0 0 0

	&__heart
		width 42px

		.fa-heart
			font-size 20px
			line-height 20px

	&__holder
		width 375px

		h1
			margin 0 0 11px 0
			font-size 18px
			line-height 21px

		h2
			margin 0 0 28px 0
			font-size 15px
			line-height 15px

		a
			margin 0 0 8px 0
			font-size 15px
			line-height 30px

	&__company
		width 234px
		padding 0 0 0 30px
		margin 0 0 42px 0

	&__about
		width 300px
		margin 0 0 0 30px

	&__cv
		margin 0 0 42px 0

		p
			width 295px
			font-size 15px
			line-height 29px

	&__social
		width 240px
		margin 0 0 0 30px

		.fa-facebook-f
		.fa-twitter
		.fa-instagram
			width 50px
			height 50px
			margin 0 18px 0 0
			font-size 23px
			line-height 52px

		.fa-facebook-f
			font-size 23px
			line-height 51px

		.fa-instagram
			font-size 27px
			line-height 52px
