.listings
	width 335px
	margin 0 0 32px 20px

.listing
	width 333px
	padding 10px 0 0 0
	margin 0 0 22px 0

	&__image
		width 311px
		margin 0 0 10px 10px

	&__content
		width 273px
		padding 16px 30px 18px 30px

	&__title
		margin 0 0 20px 0

		h1
			max-width 231px
			padding 10px 20px 10px 20px
			font-size 16px
			line-height 27px

	&__center
		margin 0 0 7px 0

		h5
			font-size 14px
			line-height 14px

	&__square
		margin 0 0 26px 0

		h2
			padding 8px 20px 8px 20px
			font-size 15px
			line-height 25px

		p
			font-size 15px
			line-height 27px

	&__square.price
		margin 0 24px 22px 0

	&__square.author
		margin 0 0 22px 0

	&__square.category
		margin 0 24px 22px 0

	&__square.sku
		margin 0 0 22px 0

	&__buttons
		width 283px

	&__button
		width 144px
		height 46px

		h4
			font-size 16px
			line-height 47px

	&__button.red
		width 120px
		margin 0 10px 0 0

.empty
	width 335px
	margin 0 0 70px 0

	h1
		width 295px
		padding 10px 20px 11px 20px
		font-size 18px
		line-height 31px

	p
		width 295px
		margin 0 0 0 20px
		font-size 16px
		line-height 30px

	&__title
		margin 0 0 16px 0
