.modal
	width 320px
	margin 0 0 0 -160px
	top 15px

	&__container
		width 318px
		padding 22px 0 0 0

	&__reference
		width 246px
		padding 18px 15px 18px 15px
		margin 0 0 0 20px

	&__option
		width 117px

		h2
			width 107px
			padding 5px 5px 6px 5px
			font-size 16px
			line-height 24px

	&__option.product
		width 100%
		margin 0 0 22px 0

		h2
			width 224px
			padding 5px 10px 6px 10px

	&__option--gap
		width 10px
		height 10px

	&__spacer
		height 20px

	&__tabs
		width 298px
		height 50px
		padding 0 0 0 20px
		margin 32px 0 0 0

	&__tab
		width 138px
		height 50px

		h4
			font-size 17px
			line-height 52px

	&__tab.active
		height 51px

	&__form
		width 278px
		padding 38px 20px 20px 20px

	&__close
		width 120px
		height 40px
		margin 0 0 20px 160px

		h6
			font-size 16px
			line-height 38px

	&__headline
		width 278px
		margin 0 0 18px 20px

	&__paragraph
		margin 12px 0 10px 0

		p
			font-size 16px
			line-height 29px

	&__header
		margin 0 0 10px 0

	&__center
		position relative

		h1
			padding 11px 24px 11px 24px
			font-size 18px
			line-height 26px

		h5
			font-size 15px
			line-height 15px

	// &__row
	// 	margin 0 0 32px 0
	//
	// 	input
	// 		width 256px
	//
	// &__half
	// 	width 134px
	// 	//margin 0 10px 0 0
	//
	// 	input
	// 		width 132px

	//&__thirds
	//	width 278px
	//
	//&__third
	//	width 80px
	//	margin 0 9px 0 0

	//&__field
	//	float left
	//	width 278px
	//	padding 0
	//	margin 0

	&__input
		margin 0 0 22px 0

		input
			width 256px
			height 50px
			padding 0 10px
			font-size 17px

	&__card
		width 278px
		height: 54px

	.InputElement
		width 278px
		padding: 0 10px;
		font-size 27px !important
		flex: 1;
		height: 48px;
		line-height: 48px;

	&__expiry
		width 134px
		margin 0 0 32px 0

	// &__gap
	// 	width 10px
	// 	height 10px

	// &__mask
	// 	width 132px
	// 	height 42px
	//
	// 	h4
	// 		font-size 19px
	// 		line-height 42px
	//
	// &__mask.third
	// 	width: 78px

	//&__button
	//	width 260px
	//	padding 8px 10px
	//	margin 14px 0 0 0
	//
	//	h2
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	h3
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	textarea
	//		width 240px
	//		height 26px
	//		padding 0 10px
	//		font-size 23px
	//		line-height 27px
	//
	//&__button.black
	//	margin 0 0 10px 0

	button
		width 278px
		height 54px
		font-size 21px
