.squares
	margin 0 0 20px 0

.square
	padding 34px 0 48px 0

	h3
		padding 0 0 11px 0
		margin 0 0 15px 24px
		font-size 18px
		line-height 18px

	p
		width 326px
		margin 0 0 0 24px
		font-size 15px
		line-height 28px
