.about
	width 884px
	padding 42px 50px 34px 50px
	margin 0 0 70px 20px
	border $white-border
	border-radius: $border-radius

	h1
		width 884px
		margin 0 0 18px 0
		font-size 23px
		line-height 39px

	span
		width 844px
		margin 6px 40px 28px 0
		font-size 21px
		line-height 38px

	p
		width 884px
		margin 0 0 20px 0
		font-size 18px
		line-height 34px

	&__media
		width 942px
		height 530px
		margin 0 0 38px 0
		border $white-border

	.profile
		width 170px
		margin 0 38px 0 0
