.footer
	height 254px
	padding 28px 0 0 0

	&__holder
		width 944px

		h1
			margin 0 0 11px 0
			font-size 19px
			line-height 22px

		h2
			margin 4px 0 24px 0
			font-size 16px
			line-height 16px

		a
			margin 0 0 8px 0
			font-size 16px
			line-height 30px

		a.phone
			width 100%
			margin 0 24px 8px 0

	&__company
		width 274px
		padding 0 30px 0 0
		margin 0

	&__brand
		width 186px

	&__heart
		width 46px

		.fa-heart
			font-size 21px
			line-height 21px

	&__about
		width 620px
		margin 0 0 14px 0

	&__cv
		width 620px
		padding 0 0 20px 0
		margin 0

		p
			width 620px
			font-size 16px
			line-height 30px

	&__social
		width 240px

		.fa-facebook-f
		.fa-twitter
		.fa-instagram
			width 52px
			height 52px
			margin 0 20px 0 0
			font-size 25px
			line-height 55px

		.fa-facebook-f
			font-size 25px
			line-height 54px

		.fa-instagram
			font-size 29px
			line-height 54px
