.listings
	width 1004px
	margin 0 0 32px 20px

.listing
	width 318px
	padding 10px 0 0 0
	margin 0 12px 22px 0

	&__image
		width 296px
		margin 0 0 10px 10px

	&__content
		width 278px
		padding 16px 20px 18px 20px

	&__title
		margin 0 0 20px 0

		h1
			max-width 236px
			padding 9px 20px 9px 20px
			font-size 16px
			line-height 27px

	&__center
		margin 0 0 7px 0

		h5
			font-size 13px
			line-height 13px

	&__square
		margin 0 0 26px 0

		h2
			padding 6px 22px 6px 22px
			font-size 15px
			line-height 25px

		p
			font-size 14px
			line-height 25px

	&__square.price
		margin 0 24px 22px 0

	&__square.author
		margin 0 0 22px 0

	&__square.category
		margin 0 24px 22px 0

	&__square.sku
		margin 0 0 22px 0

	&__buttons
		width 298px

	&__button
		width 144px
		height 47px

		h4
			font-size 16px
			line-height 48px

	&__button.red
		width 124px
		margin 0 10px 0 0

.empty
	width 444px
	margin 0 0 70px 290px

	h1
		width 444px
		padding 13px 0 13px 0
		font-size 20px
		line-height 31px

	p
		width 444px
		font-size 18px
		line-height 34px

	&__title
		margin 0 0 20px 0
