.modal
	width 680px
	margin 0 0 0 -340px
	top 28px

	&__container
		width 678px
		padding 32px 0 0 0

	&__reference
		width 576px
		padding 22px 0 22px 20px
		margin 0 0 0 40px

	&__option
		width 130px

		h2
			width 118px
			padding 8px 5px 8px 5px
			font-size 17px
			line-height 27px

	&__option.product
		width 280px
		margin 0 10px 0 0

		h2
			width 238px

	&__option--gap
		width 10px
		height 10px

	&__spacer
		height 30px

	&__tabs
		width 558px
		height 64px
		padding 0 0 0 120px
		margin 48px 0 0 0

	&__tab
		width 218px
		height 64px

		h4
			font-size 19px
			line-height 65px

	&__tab.active
		height 65px

	&__form
		width 638px
		padding 48px 0 34px 40px
		margin 0

	&__close
		width 150px
		height 52px
		margin 0 0 20px 430px

		h6
			font-size 19px
			line-height 50px

		.fa-times
			margin 4px 0 0 12px
			font-size 20px

	&__paragraph
		width 558px
		margin 14px 0 10px 20px

	&__paragraph
		margin 14px 0 10px 0

		p
			font-size 18px
			line-height 34px

	&__header
		margin 0 0 14px 0

	&__center
		position relative

		h1
			padding 15px 40px 15px 40px
			font-size 21px
			line-height 31px

		h5
			font-size 17px
			line-height 17px

	//&__row
	//	margin 0 0 32px 0
	//
	//	input
	//		width 256px

	// &__half
	// 	width 132px
	// 	// height 54px
	// 	// margin 0
	// 	//background green
	// 	//margin 0 10px 0 0
	//
	// 	input
	// 		width 131px
	//
	//&__thirds
	//	width 278px
	//
	//&__third
	//	width 80px
	//	margin 0 9px 0 0

	// &__field
	// 	float left
	// 	width 278px
	// 	padding 0
	// 	margin 0

	&__input
		width 289px
		margin 0 20px 34px 0

		input
			width 267px
			height 60px
			padding 0 10px
			font-size 19px

	&__input.email
		width 598px
		margin 0 0 34px 0
		//background #f2f

		input
			width 556px
			padding 0 20px

	&__card
		width 264px
		height: 54px
		margin 0

	.InputElement
		width 278px
		padding: 0 10px;
		font-size 27px !important
		flex: 1;
		height: 48px;
		line-height: 48px;

	&__expiry
		width 127px

	// &__gap
	// 	width 20px
	// 	height 20px

	//&__mask
	//	width 132px
	//	height 42px
	//
	//	h4
	//		font-size 19px
	//		line-height 42px
	//
	//&__mask.third
	//	width: 78px

	//&__button
	//	width 260px
	//	padding 8px 10px
	//	margin 14px 0 0 0
	//
	//	h2
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	h3
	//		height 26px
	//		font-size 23px
	//		line-height 26px
	//
	//	textarea
	//		width 240px
	//		height 26px
	//		padding 0 10px
	//		font-size 23px
	//		line-height 27px
	//
	//&__button.black
	//	margin 0 0 10px 0

	button
		width 598px
		height 64px
		font-size 23px
