.squares
	width 942px
	padding 0
	margin 0 0 0 40px
	border-left $white-border
	border-right $white-border

.square
	width 802px
	padding 38px 70px 54px 70px
	border none
	border-bottom $white-border

	h3
		padding 0 0 11px 0
		margin 0 0 16px 0
		font-size 19px
		line-height 19px

	p
		width 732px
		font-size 16px
		line-height 30px
