.testimonials
	width 942px
	margin 0 0 50px 40px
	border none
	border-left $white-border
	border-right $white-border

.testimonial
	width 822px
	padding 38px 60px 42px 60px

	&__image
		width 90px
		height 90px
		margin 0 32px 40px 0

	p
		width 802px
		margin 0 0 22px 0
		font-size 17px
		line-height 32px

	h6
		margin 0 120px 0 0
		font-size 18px
		line-height 18px
