.view
	width 864px
	padding 22px 50px 28px 50px
	margin 0 0 70px 30px
	border $input-border
	border-radius $border-radius

	&__top
		width 664px
		margin 0 60px 0 0

	&__aside
		width 110px
		padding 15px 14px 0 14px
		margin 0 0 38px 0

	&__title
		margin 0 0 20px 0

		h1
			max-width 582px
			padding 13px 30px 13px 30px
			font-size 18px
			line-height 29px

	&__purchase
		height 48px
		margin 0 0 32px 0

		h3
			padding 0 28px 0 28px
			font-size 17px
			line-height 50px

	&__arrow
		width 48px
		height 48px
		margin 0 0 32px 0

		.fa-long-arrow-left
			font-size 22px
			line-height 49px

	&__square
		margin 0 0 24px 0

		h2
			width 90px
			padding 7px 10px 7px 10px
			font-size 16px
			line-height 23px

	&__center
		margin 0 0 8px 0

		h5
			font-size 15px
			line-height 15px

	&__description
		margin 0 0 52px 0

		p
			font-size 17px
			line-height 31px

	&__headshot
		width 80px
		height 80px
		margin 0 0 20px 15px

	&__button
		width 864px
		height 58px
		margin 0 0 40px 0

		h4
			font-size 19px
			line-height 58px

	&__testimonial
		margin 0 0 10px 0

		h3
			margin 0 110px 0 24px
			font-size 18px
			line-height 58px

	&__bubble
		width 540px
		padding 16px 40px 19px 40px
		margin 0 0 0 244px

		p
			font-size 17px
			line-height 30px

	&__caret
		margin 0 0 6px 690px

	&__picture
		width 58px
		height 58px
