.slider
	img(ng-src='assets/images/index/index.jpg')

.squares
	.square.line
		.square__row
			h3 HeartMath &trade;
		p Powerful customized workshops to manage emotional self-regulation, to increase vitality, well being, staff morale, team efficiency, and cohesion.

	.square.plug
		.square__row
			h3 Heart Imagery
		p An ancient system of practice that teaches you how to balance your mental, emotional and physical bodies consequently harmonizing and enhancing your energy. These techniques are effective in breaking emotional loops, shaming of your inner critic, overthinking minds and physical disease.

	.square.line.last
		.square__row
			h3 Coaching
		p Awaken. * Empower. * Evolve. Maximize your personal and professional potential by exploring options, opening up new perspectives of what is possible and create an action plan that will move you towards your goal.

.testimonials
	.testimonial
		.testimonial__image
			img(data-ng-src='assets/images/testimonials/antonina.png')
		p "I cannot express how grateful I am for showing me the tools on how to make the choices from my heart. Zissis you have helped me so much to see the potential within me and start seeing life from a higher perspective!"
		h6 - Antonina D

	.testimonial
		.testimonial__image
			img(data-ng-src='assets/images/testimonials/jake.png')
		p "Three years ago I began transformative coaching with Zissis. Since then my life has been a discovery of potential and magic. I have learned via his consistent approach and his dedication to our truth as human beings. It is beyond amazing what I have come to appreciate about our hearts, our bodies and our spirits."
		h6 - Jake T

	.testimonial
		.testimonial__image
			img(data-ng-src='assets/images/testimonials/angela.png')
		p "Having suffered from panic attacks, anxiety and nocturnal seizures for many years, the HeartMath principles, along with the disciplined use of my inner balance, have helped me successfully to self regulate my thoughts, breathing. and consequently my emotions."
		h6 - Angela N
