.about
	float left
	width 320px
	padding 24px 0 24px 0
	margin 0 0 30px 0
	border-top $white-border
	border-bottom $white-border
	background $white

	h1
		width 280px
		padding 0
		margin 0 0 16px 20px
		font-family $primary-font
		font-weight $primary-font-weight
		font-size 20px
		line-height 36px
		color $off-black
		text-align left

	span
		float right
		width 270px
		padding 0
		margin 4px 30px 22px 0
		font-size 18px
		line-height 33px
		font-family $primary-font
		font-weight $primary-font-weight
		color $off-black
		text-align right

	p
		width 280px
		margin 0 0 18px 20px
		font-size 16px
		line-height 31px
		font-family $primary-font
		font-weight $primary-font-weight
		color $paragraph

		a
			color $red

	p.desktop
		display: none

	.profile
		display none

	&__media
		float left
		width 320px
		height 180px
		margin 0 0 28px 0
		border-top $white-border
		border-bottom $white-border
		background #e8e8e8

		img
		video
			position relative
			width 100%
			height 100%

	&__image
		float left
		width 226px
		height 230px
		margin 0 2px 10px 30px

		img
		video
			float left
			width 100%
			height 100%
