.squares
	float left
	width 100%
	margin 0 0 20px 0
	border-bottom $white-border

.square
	float left
	width 100%
	padding 34px 0 48px 0
	background $white
	border-top $white-border

	&__row
		float left
		width 100%

	h3
		float left
		padding 0 0 11px 0
		margin 0 0 15px 20px
		font-size 18px
		line-height 18px
		font-family $primary-font
		font-weight $primary-font-weight
		color $off-black
		border-bottom 3px solid $red
		text-align left

	p
		width 260px
		margin 0 0 0 20px
		font-size 15px
		line-height 28px
		font-family $primary-font
		font-weight $primary-font-weight
		color $paragraph
		text-align left

.square.end
	border-bottom none
